<div class="task">
    <div class="card text-center">
        <legend>Tasks: </legend>
        <h4 *ngIf="!currentTaskData">No tasks to show!</h4>
        <h3 *ngIf="!currentTaskData" class="text-primary">Choose a user from the list to display releavant tasks and posts!</h3>
        <div *ngFor="let task of currentTaskData">

            <div class="card-header">

                <h4>Task For: {{userName}} </h4>
                <h6>Task ID: {{task.id}}</h6>
                <h5>Title: {{task.title}}</h5>

                <button (click)="showChangeTitleForId(task.id)" *ngIf="!showChangeTitleArray.includes(task.id)">Change Title</button>
                <form [formGroup]="titleForm" (ngSubmit)="changeTitle(task.id)">
                    <div class="container" *ngIf="showChangeTitleArray.includes(task.id)">
                        <input id="title" minlength="3" #changeName  (keyup)="titleForm.valid"
                        type="text" formControlName="titleControl" placeholder="Enter a new title" required>
                        <button [disabled]="titleForm.valid ? false : true"> Submit</button>
                    </div>
                </form>
            </div>
            <div class="card-body">
                <h5>Status: {{task.completed===false ? 'Uncompleted' : 'Completed'}}</h5>
                <button
                    (click)="changeStatus(task.id)">{{task.completed===false ? 'Set as Completed' : 'Set As Uncompleted'}}</button>
            </div>
        </div>
    </div>
</div>