<div style="text-align:center">
<app-messages></app-messages>

  <fieldset class="app-create-task-fieldset">

    <legend>Create a new Task</legend>

    <form name="task-createTask-form">
      
    <section>
        <span class="task-section-header">Give your new Task a header:</span>
      <input required name="task-header-input" [(ngModel)]="this.header" placeholder="Task header goes here!">
      <br>
      <span class="task-section-header">What would you like to be tasked?</span>
      <input required name="task-task-input" [(ngModel)]="this.taskContent" placeholder="Task goes here!">
    </section>
    <br>
    <section>
      <input type="submit" (click)="this.submitTask(this.header, this.taskContent)">
    </section>

     </form>
    
  </fieldset>

  <app-Tasks></app-Tasks>

</div>