<div id="app-users-comp" class="users">
    <legend>Users:</legend>
    <div id="app-users-data" class="card text-center" *ngFor="let user of userData">

        <div class="card-header" (click)="selectUser(user.id)">
            <h1>{{user.id}}</h1>
            <p>{{user.name | uppercase}}</p>
            <p class="text-success" *ngIf="this.selectedUserId!==user.id">More</p>
            <p class="text-danger" *ngIf="this.selectedUserId===user.id">Close</p>
        </div>
        <div class="card-body" *ngIf="this.selectedUserId===user.id" (click)="navigateToUserDetails(user.id)">
            <h6 class="text-info">Click here for more info!</h6>
        </div>
    </div>
</div>
<app-tasks [userId]="this.selectedUserId" [userName]="this.selectedUserName"></app-tasks>
<app-posts [userId]="this.selectedUserId" [userName]="this.selectedUserName"></app-posts>
<app-comments [userName]="this.selectedUserName"></app-comments>
        
